.card-theme {
    max-width: 400px;
}

.odre-header-image {
    background-image: url('https://img.pngio.com/verified-icon-png-78320-free-icons-library-twitter-verified-png-256_256.jpg');
    background-size: cover;
}