<mat-card>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step label="Payment" [editable]="isEditable">

            <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
                <input type="text" formControlName="name" placeholder="Name & last name">
                <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                <button type="submit" mat-button matStepperNext color="primary">
                  Next
                </button>
            </form>

        </mat-step>

        <mat-step label="summary" [editable]="isEditable">

            <ng-template matStepLabel>Step 2</ng-template>
            <div class="">

                <h1>Payment Detail</h1>
                <h3>Name: {{booked.name}} </h3>
                <h3>Price: {{booked.price}} </h3>
                <h3>Reservation Code: {{booked.locator}} </h3>

            </div>

            <button mat-button (click)="cancel()" matStepperPrevious color="primary">Cancel</button>
            <button mat-button (click)="confirm()" matStepperNext color="primary">Confirmar</button>

        </mat-step>

        <mat-step label="done" [editable]="isEditable">
            <ng-template matStepLabel>Done</ng-template>
            <h1>{{successMessage}}</h1>
        </mat-step>
    </mat-horizontal-stepper>

</mat-card>